doctype html
html(lang = 'en')
  head
    title
      | Ratings and Reviews are awesome
    link(rel='stylesheet', href='css/mannus.css')
  body
    header
      .centre
        img(src="images/logo.png")
        h1
          | 100% confirmed purchased, 100% independently collected, impartial and trustworthy reviews!
    section#social
    section#container
      .centre
        #sidebar
          #info
            #image
              img(src='images/product_image.png')
            #score
              | 0
            #out 
              | out of 10
            p
              | (Based on 
              span#based
                0
              |  reviews)
          nav#nav
            ul.product
              li
                a#customer_reviews(href="#") Customer Reviews
              li
                a(href="#") Questions and Answers
              li#retailer-name
                a(href="#") Reviews of (retailer)
            ul.reevoo
              li
                a(href="#") About Reevoo(TM)
              li
                a(href="#") Consumer promise
        #mainbar
          h1
            | Reviews of (name_of_product_or_service)
          #content
            #most_helpful
            #segments
            #reviews
              .review(data-review-id='12345'  )
        .clear
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js')
    script(src='http://fb.me/react-0.8.0.min.js')
    script
      var sku = '#{sku}', trkref = '#{trkref}';
    script(src='js/views.js')  
    script(src='js/mannus.js')
